six
terminaltables
requests

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
torchvision==0.7.0+cpu

pycocotools-fix

-e git+git:/https://github.com/cocodataset/cocoapi.git

-f https://download.openmmlab.com/mmcv/dist/cpu/torch1.6.0/index.html
mmcv-full==1.2.5


# -e git+git://github.com/open-mmlab/mmdetection.git#egg=mmdetection
# git+git://github.com/open-mmlab/mmdetection.git#egg=mmdet
mmdet
Pillow==7.0.0