six
terminaltables
requests

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
torchvision==0.7.0+cpu

#git+git://github.com/biomlds/cocoapi.git#egg=cocoapi
#git+/https://github.com/cocodataset/cocoapi.git#egg=cocoapi

-f https://download.openmmlab.com/mmcv/dist/cpu/torch1.6.0/index.html
mmcv-full

cython
numpy
pycocotools-fix

#-e git+git://github.com/open-mmlab/mmdetection.git#egg=mmdetection
#git+git://github.com/open-mmlab/mmdetection.git#egg=mmdet
#mmdet

Pillow==7.0.0