{% extends "base.html" %}
{% block content %}

<h1 class="display-5">MMdetection web-app</h1>
<br>
<h3 class="display-5">Results of object detection</h1>
<img src="{{url_for('static', filename='img/detected_'+pic)}}"  class="rounded mx-auto d-block">
<br></br>
<form method='POST'  method="post" enctype="multipart/form-data">
  <br>
  {{ form.csrf_token}}
  <!-- {{ form.submit }} -->
  <br>
  <input type=submit class='btn btn-primary' value='Download'>
              
{% endblock %}             
            

    

    



